apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: webform-bluegreen
spec:
  replicas: 4
  template:
    metadata:
      labels:
        app: webform
        tier: frontend
        track: bluegreen
    spec:
      containers:
        - name: webform
          image: "jonathanfane/webform"
          ports:
            - name: http
              containerPort: 80
